<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginproject">

    <permission
        android:name="com.example.loginproject.permission.MAPS_RECEIVE"
        android:label="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".kakako.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginProject"
        android:usesCleartextTraffic="true">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcE0gcU3eHjZl7eL2QnPwPRqHw27oOcZQ" />

        <activity
            android:name=".Food.FoodMainActivity"
            android:exported="false"
            android:label="@string/title_activity_food_main"
            android:theme="@style/Theme.MyMap02" />

        <activity
            android:name=".Community.CommunityActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Community.DetailActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Community.InsertActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Health.RecordCheck"
            android:theme="@style/Theme.AndProjHealth"
            android:label="운동하기"
            android:exported="false"/>
        <activity
            android:name=".Health.RunBicycle"
            android:theme="@style/Theme.AndProjHealth"
            android:label="운동하기"
            android:exported="false"/>
        <activity
            android:name=".Health.HealthMain"
            android:theme="@style/Theme.AndProjHealth"
            android:label="운동하기"
            android:exported="false"/>
        <activity
            android:name=".Health.HealthLogin"
            android:theme="@style/Theme.AndProjHealth"
            android:label="운동하기"
            android:exported="false" />
        <activity
            android:name=".Login.TestActivity"
            android:exported="true" />
        <activity
            android:name=".Login.CustomActivity"
            android:theme="@style/LoginTheme"
            android:exported="true" />
        <activity
            android:name=".Login.RegisterActivity"
            android:label="회원가입"
            android:theme="@style/Theme.LoginProject"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.loginproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3c7c8e2114d066f351a85c773f7dde4f" />

<!--        <meta-data-->
<!--            android:name="com.google.android.maps.v2.API_KEY"-->
<!--            android:value="AIzaSyDcE0gcU3eHjZl7eL2QnPwPRqHw27oOcZQ" />-->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>